@charset "UTF-8";
/* Nesting o anidamiento */
/* Import */
/* VARIABLES */
/* Colores */
/* FIN DE VARIABLES */
/* HEADER */
.header {
  background-color: darkred;
}

.portada {
  color: white;
  background-color: #e24b4b;
  font-family: "Righteous", cursive;
  font-size: 40px;
  text-align: center;
  width: fit-content;
  z-index: 2;
}

.menuPrincipal {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: darkred;
  font-family: "Righteous", cursive;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}

.activa {
  color: darkorange;
}

a {
  text-decoration: none;
  color: colorBordo;
}

.menu {
  text-align: center;
  align-items: center;
  position: static;
  width: 100%;
  color: colorBordo;
  font-family: "Righteous", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 25px;
}

/* FIN DE HEADER */
/* VARIABLES */
/* Colores */
/* FIN DE VARIABLES */
/* BODY */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

.principal {
  background-attachment: scroll;
  background-color: #e24b4b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fotoportada {
  text-align: center;
  align-items: center;
  font-size: 1em;
  color: darkred;
}

.texto {
  font-family: "Manrope", sans-serif;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding: 0 20% 0 20%;
}

.indice {
  text-align: center;
  position: static;
}

.titulos {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  position: static;
  padding-left: 50px;
  padding-right: 50px;
}

/* Color cuando la pestaña de referencia está seleccionada */
/*foto de noticia principal*/
.fotonoticia {
  width: 40%;
}

h2 {
  font-size: 2em;
  color: darkred;
  font-family: "Manrope", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  font-weight: bold;
}

h3, h4, h5, h6 {
  font-size: 1.3em;
  color: darkred;
  font-family: "Manrope", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  text-decoration: underline;
  text-align: center;
}

.textoportada {
  font-size: 2em;
  text-align: left;
  color: darkorange;
  font-family: "Manrope", sans-serif;
  padding-left: 0;
  padding-bottom: 0;
}

.parrafo {
  font-size: 1em;
  color: darkred;
  font-family: "Manrope", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  text-align: center;
}

.parrafofoto {
  font-size: 1em;
  text-align: left;
  color: darkorange;
  font-family: "Manrope", sans-serif;
  padding-left: 0;
  padding-top: 0;
  margin: auto;
}

.partidoscolores1 {
  margin: auto;
  align-items: center;
  width: 250px;
}

.partidoscolores2 {
  margin: auto;
  align-items: center;
  width: 250px;
}

.fotoportada1 {
  transition: all 3s;
  width: 350px;
  margin: auto;
  align-items: center;
}

.fotoportada1:hover {
  filter: sepia(2);
}

.fotoportada2:hover {
  filter: sepia(2);
}

.logoprincipal {
  transition: all 4s;
}

.logoprincipal:hover {
  transform: translateX(30px);
}

.partido1:hover {
  background-color: red;
  transition: all 2s;
}

.partido2:hover {
  background: white;
  transition: all 2s;
}

.galeriaimagenes {
  margin: auto;
}

/* FIN DE BODY*/
/* VARIABLES */
/* Colores */
/* FIN DE VARIABLES */
/* Footer */
footer {
  border-top: solid 2px #e24b4b;
  /*operadores matematicos*/
  border-right: solid 2px #e24b4b;
  /*operadores matematicos*/
  border-bottom: solid 2px #e24b4b;
  /*operadores matematicos*/
  border-left: solid 2px #e24b4b;
  /*operadores matematicos*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: darkred;
  margin-top: 150px;
  width: 100%;
  margin-bottom: 0 !important;
  vertical-align: bottom;
  padding: 5% 10% 0% 10%;
}

.letrafooter {
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: bolder;
}

.logosredes {
  width: 35px !important;
  margin: auto;
  padding-bottom: 50px;
}

/* Fin de Footer */
/* VARIABLES */
/* Colores */
/* FIN DE VARIABLES */
/* NAVBAR - MENU */
nav {
  border-top: solid 2px darkred;
  border-right: solid 2px darkred;
  border-bottom: solid 2px darkred;
  border-left: solid 2px darkred;
  text-align: center;
  word-spacing: 4em;
  background-color: #e24b4b;
}

/* Menú con submenú*/
nav a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

nav li {
  display: inline-block;
  width: 150px;
  height: 30px;
  background-color: darkred;
  text-align: center;
  color: #e24b4b;
  position: relative;
  z-index: 2;
}

nav a:hover {
  color: darkorange !important;
  text-decoration: none;
}

nav li:hover {
  color: darkorange !important;
  text-decoration: none;
}

nav li > ul {
  display: none;
}

nav li:hover > ul {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
}

/* FIN DE NAVBAR - MENU */
/* Media query */
@media only screen and (max-width: 600px) {
  * {
    margin: 0px;
    padding: 0px;
  }

  ul {
    text-align: center;
    background-color: #e24b4b;
    margin-top: 50px;
  }

  nav ul {
    margin-top: 50px;
  }

  h2 {
    font-size: 1.3em;
    text-align: center;
    padding-top: 10px;
  }

  .fotoportada {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
  }

  .partidoscolores1 .partidoscolores2 .galeriaimagenes {
    width: 250px !important;
  }

  .menuPrincipal {
    margin: auto !important;
    font-size: small;
  }

  .logoprincipal {
    transition: all 4s;
    width: 100% !important;
  }

  .logoprincipal:hover {
    transform: translateX(30px);
  }

  footer {
    font-size: 1em;
  }

  .logosredes {
    width: 25px !important;
    margin: auto;
    padding-bottom: 50px;
  }

  .letrafooter {
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: x-small;
    font-weight: bolder;
  }

  .logosredes {
    width: 25px;
    margin: auto;
    padding-bottom: 50px;
  }

  .fla {
    width: 80px;
  }

  .tabladeposiciones {
    width: 95%;
  }

  .plantel-item {
    margin: auto;
  }

  .estadio-item {
    margin-bottom: 10px;
  }
}
/*fin de media query*/
/* FLEXBOX */
.historia-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  border: 0;
}

.fla {
  width: 200px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.estadio-container {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.estadio-row {
  align-items: center;
}

.estadio-item {
  font-family: "Manrope", sans-serif;
  height: 460px;
  width: 350px;
  text-align: center;
  background: #dd4646;
  margin-bottom: 10px;
  transition: all 0.5s;
  margin: auto;
}
.estadio-item:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 5px 5px 5px 5px;
}

.estadio-img {
  height: 150px;
  width: 150px;
  margin-top: 20px;
}

.estadio-title {
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Manrope", sans-serif;
  color: #aa2525;
}

.estadio-text {
  padding: 0px 20px;
  color: black;
  font-size: 0.9rem;
}

.cancha {
  font-weight: bolder;
  font-size: 1.3rem;
  color: white;
  background: #aa2525;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  margin: auto;
  margin-bottom: 15px;
}

.categoria-estadio {
  color: #aa2525;
  font-weight: bolder;
  font-size: 1rem;
}

.destacados-estadio {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Manrope", sans-serif;
  color: #aa2525;
}

.estadio-seccion {
  margin-top: 50px;
}

.plantel-container {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.plantel-row {
  align-items: center;
}

.plantel-item {
  font-family: "Manrope", sans-serif;
  height: 460px;
  width: 350px;
  text-align: center;
  background: #dd4646;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.5s;
  margin: auto;
}
.plantel-item:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 5px 5px 5px 5px;
}

.plantel-img {
  height: 100px;
  width: 100px;
  border-radius: 200px;
  margin-top: 20px;
}

.plantel-title {
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Manrope", sans-serif;
  color: #aa2525;
}

.plantel-text {
  padding: 0px 20px;
  color: black;
  font-size: 0.9rem;
}

.camiseta {
  font-weight: bolder;
  font-size: 1.3rem;
  color: white;
  background: #aa2525;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  margin: auto;
  margin-bottom: 15px;
}

.categoria {
  color: #aa2525;
  font-weight: bolder;
  font-size: 1rem;
}

.destacados {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Manrope", sans-serif;
  color: #aa2525;
}

.titulo-seccion {
  margin-top: 50px;
}

.mapaubicacion {
  align-items: center !important;
  justify-content: center;
  padding: 0 20% 0 20%;
}

.contactosocios {
  display: block;
  text-align: center;
  margin: 100px 0 154px;
  padding: 30px 22px 24px;
  background-color: #e73d3d;
}

.tablaresultadosfija {
  border-top: solid 2px darkred;
  border-right: solid 2px darkred;
  border-bottom: solid 2px darkred;
  border-left: solid 2px darkred;
}

.tablaresultados .tablaresultados1 .tablaresultados2 {
  border-top: solid 2px darkred;
  border-right: solid 2px darkred;
  border-bottom: solid 2px darkred;
  border-left: solid 2px darkred;
  margin: auto;
}

.letraresultados {
  font-size: 0.75em;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.tablaresultados:hover {
  background-color: red;
  transition: all 2s;
}

.tablaresultados1:hover {
  background-color: green;
  transition: all 2s;
}

.tablaresultados2:hover {
  background-color: yellow;
  transition: all 2s;
}

.tabladeposiciones {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: darkred;
}

/* VARIABLES */
/* Colores */
/* FIN DE VARIABLES */
/* VARIABLES */
/* Colores */
/* FIN DE VARIABLES */
/* EXTENDS */
.partidoscolores1, .partidoscolores2 {
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
}

.estadio-row, .plantel-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* FIN EXTENDS */
/* MIXINS */
.partidoscolores1 {
  background-color: red;
  border: solid 5px !important;
}

.partidoscolores2 {
  background-color: white;
  border: solid 5px !important;
}

/* FIN MIXINS */
/* EXTENDS */
.partidoscolores1, .partidoscolores2 {
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
}

.estadio-row, .plantel-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* FIN EXTENDS */
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
