/* EXTENDS */

%bordestabla {
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
}

%flexbox-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* FIN EXTENDS */