/* Media query */
@media only screen and (max-width: 600px) {
    * {
      margin: 0px;
      padding: 0px;     
    }
  
    ul {
      text-align: center;
      background-color: rgb(226, 75, 75);
      margin-top: 50px;
    }
  
    nav ul {
      margin-top: 50px;
    }
  
    h2 {
      font-size: 1.3em;
      text-align: center;
      padding-top: 10px;
    }

       
    .fotoportada {
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 0.5em;
     }
  
    .partidoscolores1 .partidoscolores2 .galeriaimagenes {
      width: 250px !important;
    }

   
    .menuPrincipal {
      margin: auto !important;
      font-size: small;
    }
  
    .logoprincipal {
      transition: all 4s;
      width: 100% !important;
    }
  
    .logoprincipal:hover {
      transform: translateX(30px);
    }

    footer {
      font-size: 1em;
    }

    .logosredes {
      width: 25px !important;
      margin: auto;
      padding-bottom: 50px
    }

    .letrafooter {
      color: white;
      font-family: "Manrope", sans-serif;
      font-size: x-small;
      font-weight: bolder;
    }    
    .logosredes {
      width: 25px;
      margin: auto;
      padding-bottom: 50px
    }

    .fla {
      width: 80px ;
      }


    .tabladeposiciones {
        width: 95%;
    }

  .plantel-item {
  margin: auto;
  
  }

  .estadio-item {
    margin-bottom: 10px;
  }
  }


/*fin de media query*/