.mapaubicacion {
    align-items: center !important;
    justify-content: center;
    padding: 0 20% 0 20%;
  }


.contactosocios {
    display: block;
    text-align: center;
    margin: 100px 0 154px;
    padding: 30px 22px 24px;
    background-color: #e73d3d;
}