/* FLEXBOX */
.historia-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    border: 0;
}



.fla {
    width: 200px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin: auto;
}


