.plantel-container {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.plantel-row {
    @extend %flexbox-row;
    align-items: center;
}

.plantel-item {
    font-family: "Manrope", sans-serif;
    height: 460px;
    width: 350px;
    text-align: center;
    background: #dd4646;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;  
    transition: all 0.5s; 
    margin: auto;
    
    
    &:hover {
        box-shadow: rgb(0, 0, 0, 45%) 5px 5px 5px 5px;
    }
}

.plantel-img {
    height: 100px;
    width: 100px;
    border-radius: 200px;
    margin-top: 20px;
}

.plantel-title {
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Manrope", sans-serif;
    color: rgb(170, 37, 37);
}

.plantel-text {
    padding: 0px 20px;
    color: black;
    font-size: 0.9rem;
}

.camiseta {
    font-weight: bolder;
    font-size: 1.3rem;
    color: white ;
    background: rgb(170, 37, 37);
    border-radius: 200px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    margin: auto;
    margin-bottom: 15px;
}

.categoria {
    color: rgb(170, 37, 37);
    font-weight: bolder;
    font-size: 1rem;
}

.destacados {
    font-size: 3rem;
    font-weight: bolder;
    font-family: "Manrope", sans-serif;
    color: rgb(170, 37, 37);
}

.titulo-seccion {
    margin-top: 50px;
 }