@import '../funciones/variables';

/* BODY */

* {
    padding: 0;
    margin: 0;
}
  
html {
    font-size: 20px;
}



.principal {
    background-attachment: scroll;
    background-color: $colorRosado;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.fotoportada {
    text-align: center;
    align-items: center;
    font-size: 1em;
    color: $colorBordo;
}
  
  .texto {
    font-family: "Manrope", sans-serif;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding: 0 20% 0 20%;
  }
  
  .indice {
    text-align: center;
    position: static;
}
  
  .titulos {
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    position: static;
    padding-left: 50px;
    padding-right: 50px;
}
  
  /* Color cuando la pestaña de referencia está seleccionada */
 
  
  /*foto de noticia principal*/
  .fotonoticia {
    width: 40%;
}
  
  h2 {
    font-size: 2em;
    color: $colorBordo;
    font-family: "Manrope", sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    font-weight: bold;
}
  
  h3, h4, h5, h6 {
    font-size: 1.3em;
    color: $colorBordo;
    font-family: "Manrope", sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    text-decoration: underline;
    text-align: center;
}
  
  .textoportada {
    font-size: 2em;
    text-align: left;
    color: $pestanaActiva;
    font-family: "Manrope", sans-serif;
    padding-left: 0;
    padding-bottom: 0;
}
  
  .parrafo {
    font-size: 1em;
    color: $colorBordo;
    font-family: "Manrope", sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    text-align: center;
}
  
  .parrafofoto {
    font-size: 1em;
    text-align: left;
    color: $pestanaActiva;
    font-family: "Manrope", sans-serif;
    padding-left: 0;
    padding-top: 0;
    margin: auto;
}
  

.partidoscolores1 {
  @extend %bordestabla;
  margin: auto;
  align-items: center;
  width: 250px;
}

.partidoscolores2 {
  @extend %bordestabla;
  margin: auto;
  align-items: center;
  width: 250px;
}
  
.fotoportada1 {
  transition: all 3s;
  width: 350px;
  margin: auto;
  align-items: center;
}

.fotoportada1:hover {
  filter: sepia(2);
}

.fotoportada2:hover {
  filter: sepia(2);
}

.logoprincipal {
  transition: all 4s;
}

.logoprincipal:hover {
  transform: translateX(30px);
}

.partido1:hover {
  background-color: red;
  transition: all 2s;
}

.partido2:hover {
  background: white;
  transition: all 2s;
}

.galeriaimagenes {
  margin: auto;
}



/* FIN DE BODY*/